    <!-- Download Section -->
    <section id="skills" class="content-section text-center">
        <div class="skills-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Skills</h2>
                    <p>Java, Spring, Vert.x, Hibernate, Javascript, Node.js, React, Redux, Websocket / Maven, Jenkins, Travis, Docker, AWS / PostgreSQL, MySQL, Cassandra / Nuxeo / Android / Git, SVN / DICOM / Scrum</p>
                </div>
            </div>
        </div>
    </section>
