<!-- Work Experience Section -->
<section id="work" class="content-section text-center">
    <div class="work-section">
      <div class="container">
        <div class="col-lg-12">
            <h2>Work Experience</h2>
        </div>
        <div class="row">
          <div class="col-md-2">
            <p>october 2017 - now</p>
          </div>
          <div class="col-md-2">
            <h4>Wingz</h4>
          </div>
          <div class="col-md-8">
            <p>Back-end engineer. Wingz is a ridesharing startup.<br>
              Java 8, Spring Boot, MySQL, RabbitMQ.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <p>february 2017 - august 2017</p>
          </div>
          <div class="col-md-2">
            <h4>Jawg Maps</h4>
          </div>
          <div class="col-md-8">
            <p>Back-end engineer. Jawg is a mapping platform to build custom maps.<br>
              Java 8, Spring, Spring Boot, Cassandra, Maven, Jenkins, Docker.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <p>july 2015 - june 2016</p>
          </div>
          <div class="col-md-2">
            <h4>Agfa HealthCare</h4>
          </div>
          <div class="col-md-8">
            <p>Java developer intern. Developing a pre-processing service for radiology images.<br>
              Java, Java EE, web-services, JMS, EJB, Maven, Jenkins.</p>
          </div>
        </div>
      </div>
    </div>
</section>
